{% extends 'baseC.html.twig' %}

{% block title %}Formation {% endblock %}

{% block body %}
    <h1>Formation </h1>

    <table class="table">
        <thead>
        <tr>

            <th>Titre</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Date_debut</th>
            <th>Date_fin</th>
            <th>Formateur</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>

                <td>{{ formation.titre }}</td>
                <td>{{ formation.description }}</td>
                <td>{{ formation.prix }}</td>
                <td>{{ formation.dateDebut ? formation.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ formation.dateFin ? formation.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ formation.formateur }}</td>
                <td>
                    <a href="{{ path('app_formationC_show', {'id': formation.id}) }}">show</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
