{% extends 'baseC.html.twig' %}

{% block title %}Evenement {% endblock %}

{% block body %}
    <h1>Evenement </h1>

    <table class="table">
        <thead>
        <tr>

            <th>Titre</th>
            <th>Description</th>
            <th>Date_debut</th>
            <th>Date_fin</th>
            <th>Lieu</th>
            <th>Organisateur</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>

                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.dateDebut ? evenement.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evenement.dateFin ? evenement.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evenement.lieu }}</td>
                <td>{{ evenement.organisateur }}</td>
                <td>
                    <a href="{{ path('app_evenemcan_show', {'id': evenement.id}) }}">show</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
