{% extends 'baseC.html.twig' %}

{% block title %}Post {% endblock %}

{% block body %}
    <h1>Post </h1>

    <table class="table">
        <thead>
        <tr>

            <th>Titre</th>
            <th>Description</th>
            <th>Date_de_creation</th>
            <th>Date_expiration</th>
            <th>Posteur</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>

                <td>{{ post.titre }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.dateDeCreation ? post.dateDeCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.dateExpiration ? post.dateExpiration|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.posteur }}</td>
                <td>
                    <a href="{{ path('app_postcan_show', {'id': post.id}) }}">show</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
