{% extends 'baseC.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>

        <tr>
            <th>Titre</th>
            <td>{{ post.titre }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ post.description }}</td>
        </tr>
        <tr>
            <th>Date_de_creation</th>
            <td>{{ post.dateDeCreation ? post.dateDeCreation|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Date_expiration</th>
            <td>{{ post.dateExpiration ? post.dateExpiration|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Posteur</th>
            <td>{{ post.posteur }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_postcan') }}">back to list</a>


{% endblock %}
